<div class="page">
  <main class="page__container">
    <div class="page__header">
      <h1 class="page__title" tabindex="-1">
        <% if current_user == @user %>
          <%= t('settings.title') %>
        <% else %>
          <%= t('edit_user.title') %>
        <% end %>
      </h1>
    </div>
    <div class="page__content">
      <%= render 'form', user: @user, button_text: t('edit_user.update_user_button') %>
    </div>
  </main>
</div>
