<div class="page">
  <div class="page__container">
    <div class="page__header">
      <h1 class="page__title"><%= t('add_user.title') %></h1>
    </div>
    <div class="page__content">
      <%= render 'form', user: @user, button_text: t('add_user.add_user_button') %>
    </div>
  </div>
</div>
